<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header id="main-header">
      <div class="header-content">
        <div class="logo">
            <img id="logo-img" src="{% static 'img/logo-grande.png' %}" alt="Logo">
        </div>
        <nav class="navbar">
          <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="dropdown">
              <a href="#">Sobre</a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'historia' %}">História</a></li>
                <li><a href="{% url 'presidencia' %}">Presidência</a></li>
                <li><a href="{% url 'projetos' %}">Projetos</a></li>
                <li><a href="{% url 'servicos' %}">Serviços</a></li>
              </ul>
            </li>
            <li><a href="{% url 'doacao' %}">Doação</a></li>
            <li><a href="{% url 'documentacao' %}">Documentação</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>