<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="page-wrapper">
        <header id="main-header">
          <div class="header-content">
            <div class="logo">
                <img id="logo-img" src="{% static 'img/logo-grande.png' %}" alt="Logo">
            </div>
            <nav class="navbar">
              <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="dropdown">
                  <a href="#">Sobre</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'historia' %}">História</a></li>
                    <li><a href="{% url 'presidencia' %}">Presidência</a></li>
                    <li><a href="{% url 'projetos' %}">Projetos</a></li>
                    <li><a href="{% url 'servicos' %}">Serviços</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'doacao' %}">Doação</a></li>
                <li><a href="{% url 'documentacao' %}">Documentação</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
              </ul>
            </nav>
          </div>
        </header>

        <main id="main-content">
            {% block content %}{% endblock %}
        </main>

        <footer>
          <div id="footer_content">
              <div id="footer_contacts">
                  <h1>Cadon</h1>
                  <p>Centro de Apoio ao Desenvolvimento!</p>

                  <div id="footer_social_media">
                  <a href="https://www.instagram.com/igorr.boy/" target="_blank" class="footer-link" id="instagram">
                      <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="https://www.facebook.com/PlayStationBR" class="footer-link" id="facebook">
                      <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="footer-link" id="whatsapp">
                      <i class="fa-brands fa-whatsapp"></i>
                  </a>
                  </div>
              </div>

              <ul class="footer-list">
                  <li>
                      <h3>Links</h3>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Mantenha-se atualizado com dicas e truques dos melhores gamers!</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Leia entrevistas exclusivas com desenvolvedores e influenciadores do mundo dos jogos!</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Confira as últimas novidades do setor e prepare-se para os novos lançamentos</a>
                  </li>

              </ul>

              <ul class="footer-list">
                  <li>
                      <h3>Navegador</h3>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Explore promoções imperdíveis e leve para casa seus títulos favoritos!</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Junte-se à nossa comunidade e aproveite ofertas exclusivas em produtos!</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Navegue pela nossa coleção de jogos e encontre sua próxima grande aventura!</a>
                  </li>

              </ul>

              <div id="footer_subscribe">
                  <h3>AJUDA</h3>

                  <p>ENVIE SEU EMAIL PARA RECEBER AJUDA</p>

                  <div id="input_group">
                      <input type="email" id="email">
                      <button>
                          <i class="fa-regular fa-envelope"></i>
                      </button>
                  </div>
              </div>

          </div>


          <div id="footer_copyright">
              &#169
              2024 all rights reserved
          </div>

        </footer>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>