{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="historia-wrapper">
    <h1>Nossa História</h1>

    <h2>Início</h2>
    <p>
        O Centro de Apoio ao Desenvolvimento (CAD) é uma organização não governamental sem fins lucrativos, fundada em 13 de março de 1998 por profissionais afro-brasileiros. Desde 1988, esses profissionais têm colaborado no movimento negro e em instituições de direitos humanos.
    </p>

    <p>
        O CAD tem como objetivo fortalecer essas instituições por meio de legalização, planejamento estratégico, elaboração e gestão de projetos, consultoria, educação continuada de líderes, e organização de congressos, seminários e eventos.
    </p>

    <h2>Hoje</h2>
    <p>
        Atualmente, impactamos milhares de pessoas com projetos de educação, cultura e cidadania, fortalecendo comunidades e ampliando a inclusão social em diversas regiões.
    </p>
</div>
{% endblock %}
