{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="titulo">Nossa História</h1>

<section class="historia-section">

  <div class="historia-grid">

    <div class="historia-box">
      <p>
        O Centro de Apoio ao Desenvolvimento (CAD) é uma organização não governamental sem fins lucrativos, fundada em
        13 de março de 1998 por profissionais afro-brasileiros. Desde 1988, esses profissionais têm colaborado no
        movimento negro e em instituições de direitos humanos. O CAD tem como objetivo fortalecer essas instituições
        por meio de legalização, planejamento estratégico, elaboração e gestão de projetos, consultoria, educação
        continuada de líderes, e organização de congressos, seminários e eventos. Seu foco principal é a eliminação
        da discriminação racial, a promoção da cultura afro-brasileira, a capacitação profissional e a inclusão da
        população afrodescendente em diversos setores da sociedade brasileira.
      </p>

      <h3>Missão:</h3>
      <p>
        Apoiar o desenvolvimento de organizações, comunidades e pessoas afro-brasileiras e indígenas.
      </p>

      <h3>Visão:</h3>
      <p>
        Ser referência nacional e internacional na promoção do desenvolvimento sustentável e inclusivo de organizações,
        comunidades e indivíduos afro-brasileiros e indígenas, através da valorização de suas culturas, saberes e
        potencialidades.
      </p>

      <h3>Valores:</h3>
      <ul>
        <li>Promover a igualdade e diversidade</li>
        <li>Respeitar todas as pessoas</li>
        <li>Fortalecer comunidades</li>
        <li>Adotar práticas sustentáveis</li>
        <li>Agir com transparência e ética</li>
        <li>Incentivar inovação</li>
        <li>Colaborar em parcerias estratégicas</li>
      </ul>
    </div>

    <div class="historia-box">
      <p>
        Composto por profissionais experientes e comprometidos com as novas exigências organizacionais, o CADON oferece assessoria e consultoria voltadas para o aprimoramento e melhoria de resultados.
      </p>

      <p>
        Nos seus 27 anos de existência o CADON elaborou e geriu diversos projetos próprios e em parceria com outras organizações, nas áreas de desenvolvimento institucional, desenvolvimento em comunidades quilombolas, alfabetização de 762 quilombolas em 25 comunidades do Estado do Rio de Janeiro, projetos culturais em 30 comunidades indígenas, projetos de capacitação profissional para jovens em situação de risco, como por exemplo:
      </p>

      <ul>
        <li>Guias de turismo</li>
        <li>Informática básica</li>
        <li>Jovens empreendedores</li>
        <li>4 edições do Prêmio Nacional de Expressões Culturais Afrobrasileiras, nas 5 regiões brasileiras</li>
        <li>Projetos Multiplicando Saberes Ancestrais que capacitou 200 mulheres negras em:
          <ul>
            <li>Tratamento de Cabelos Crespos</li>
            <li>Pintura natural em tecidos</li>
            <li>Oficinas de acarajé, culinária africana e empreendedorismo</li>
          </ul>
        </li>
        <li>Estratégias para prevenção ao uso de drogas nas Escolas (Capacitação de profissionais de educação nas metodologias "Elos" e "Tamo Junto") em parceria com o Ministério da Justiça e a XI Marcha das Mulheres Negras do Estado do Rio de Janeiro.</li>
      </ul>
    </div>

  </div>
</section>

{% endblock %}
