{% extends 'base.html' %}
{% load static %}

{% block title %}CADON | Home{% endblock %}
{% block content %}


<h2>Siga-nos no Instagram</h2>
<div id="instafeed" class="instagram-feed"></div>


<script src="https://cdn.jsdelivr.net/npm/instafeed.js@1.4.1"></script>

<script>
    var feed = new Instafeed({
        accessToken: 'IGQVJ...SEU_TOKEN_AQUI...',  // ⚠️ Coloque aqui o token de acesso
        limit: 8,
        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    feed.run();
</script>


{% endblock %}
