{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="titulo">A Presidência</h1>

    <section class="about-us">

        <div class="container-presidente">

            <div class="text-about">
                <h2>Ruth Pinheiro</h2>

                <p class="about-text1">Conselheira e Secretária
                    Geral do Colymar – Centro de Empresários Afro-brasileiros, Ruth Pinheiro é participante da equipe
                    de pesquisa do Conselho Estadual Anti-drogas do Estado do Rio de Janeiro, atuando como capacitadora
                    em elaboração e gestão de projetos para formação de integrantes dos Conselhos Municipais
                    Anti-drogas em sete municípios, incluindo o Rio de Janeiro, além de ser Consultora do SESI/RJ
                    para alfabetização de adultos em comunidades remanescentes de quilombos do Estado do Rio de Janeiro.
                    <br>
                    <br>
                    Suas muitas experiencias incluem trabalhar na Secretaria de Estado de Trabalho, na Telerj, ser
                    assessora especial da Secretaria de Estado de Direitos Humanos, para coordenação de projetos, 2002,
                    colaboradora do Ministério da Saúde e PNUD, bem como responsável pela elaboração e coordenação do
                    seminário Capacitação de Lideranças Comunitárias – Saúde Étnica, Rio de Janeiro, 2002.
                    <br>
                    <br>
                    Além disso ela ainda tem uma experiência de seis anos como Coordenadora de Projetos Especiais do
                    SESI/RJ – elevação de escolaridade e capacitação de jovens em situação de risco social, foi
                    coordenadora do projeto Turismo Étnico, formando a primeira turma de guias de turismo
                    especializados em turismo étnico de referência africana e afro-brasileira em 1999, presidente do
                    Instituto Palmares de Direitos Humanos nos anos de 1993 e 1994, instituidora e primeira Diretora
                    Geral da Casa Brasil-Nigéria entre 1992 e1996, representante convidada no Seminário sobre o
                    Panafricanismo, que ocorreu em Trípoli, Líbia em 1991, e representante convidada no I Congresso
                    Mundial de Reparação aos Povos Africanos, em Abuja, na Nigéria em 1993, convidada pela Unesco para
                    participar do Habitat II em Istambul, na Turquia em 1995, e convidada pelo Ministério das Relações
                    Exteriores para integrar a comitiva da Missão Presidencial Comercial Brasil-Africa em 2003.
                    <br>
                    <br>
                    Fechando este extenso currículo, vale mensionar que ela foi ainda palestrante convidada pela
                    Universidade Cândido Mendes, Universidade do Estado do Rio de Janeiro, Universidade Federal
                    Fluminense, Pontifícia Universidade Católica do Rio de Janeiro, Secretaria de Estado de
                    Desenvolvimento Econômico e Turismo / FIRJAN, Câmara Municipal do Rio de Janeiro, TurisRio,
                    Fundação Universitária de Duque de Caxias, Consulado Americano –SP, Instituto dos Advogados
                    Brasileiros, organizações do Movimento Negro e comunitárias, sindicatos, conselhos de entidades
                    negras da capital e interior.
                </p>
            </div>

            <div class="divisao"></div>

            <div class="img-about">
                <img src="{% static 'img/presidente.jpg' %}" alt="Presidente">
            </div>


        </div>


    </section>
{%endblock%}
