{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="about-us">

        <div class="container">

            <div class="text-about">
                <h2>Ruth Pinheiro</h2>

                <p class="about-text1">Conselheira e Secretária Geral do Colymar – Centro de Empresários Afro-brasileiros.
                Participante da equipe de pesquisa do Conselho Estadual Anti-drogas do Estado do Rio de Janeiro, atuando como capacitadora em elaboração e gestão de projetos para formação de integrantes dos Conselhos Municipais Anti-drogas em sete municípios, incluindo o Rio de Janeiro. Consultora do SESI/RJ para alfabetização de adultos em comunidades remanescentes de quilombos do Estado do Rio de Janeiro.
                </p>

                <h4>Experiência</h4>

                <p class="about-text2">Secretaria de Estado de Trabalho
                    Telerj
                    Assessora especial da Secretaria de Estado de Direitos Humanos, para coordenação de projetos, 2002.
                    Colaboradora do Ministério da Saúde e PNUD, como responsável pela elaboração e coordenação do seminário Capacitação de Lideranças Comunitárias – Saúde Étnica, Rio de Janeiro, 2002.
                    Experiência de seis anos como Coordenadora de Projetos Especiais do SESI/RJ – elevação de escolaridade e capacitação de jovens em situação de risco social.
                    Coordenadora do projeto Turismo Étnico, formando a primeira turma de guias de turismo especializados em turismo étnico de referência africana e afro-brasileira, 1999.
                    Presidente do Instituto Palmares de Direitos Humanos, 1993–1994.
                    Instituidora e primeira Diretora Geral da Casa Brasil-Nigéria, 1992-1996.
                    Representante convidada no Seminário sobre o Panafricanismo, em Trípoli, Líbia, 1991.
                    Representante convidada no I Congresso Mundial de Reparação aos Povos Africanos, em Abuja - Nigéria, 1993
                    Convidada pela Unesco para participar do Habitat II, Istambul – Turquia, 1995
                    Convidada pelo Ministério das Relações Exteriores para integrar comitiva da Missão Presidencial Comercial Brasil-Africa, 2003.
                    Palestrante convidada pela Universidade Cândido Mendes, Universidade do Estado do Rio de Janeiro, Universidade Federal Fluminense, Pontifícia Universidade Católoca do Rio de Janeiro, Secretaria de Estado de Desenvolvimento Econômico e Turismo / FIRJAN, Câmara Municipal do Rio de Janeiro, TurisRio, Fundação Universitária de Duque de Caxias, Consulado Americano –SP, Instituto dos Advogados Brasileiros, organizações do Movimento Negro e comunitárias, sindicatos, conselhos de entidades negras da capital e interior.</p>
            </div>

            <div class="divisao"></div>

            <div class="img-about">
                <img src="{% static 'img/presidente.jpg' %}" alt="Presidente">
            </div>


        </div>


    </section>
{% endblock %}